---
import Layout from '../layouts/Layout.astro';
import Portfolio2019 from '../components/Portfolio2019.vue';
---

<Layout title="Luca Argentieri">
	<main>
		<Portfolio2019 client:only />
	</main>
</Layout>

