---
const worlds = [
    "Arrivederci",
    "Goodbye",
    "Adiós",
    "Adeus",
    "До свидания",
    "Auf Wiedersehen",
    "Au revoir",
    "Hoşça kalın",
    "Do widzenia",
    "Arrivederci",
    "Goodbye",
    "Adiós",
    "Adeus",
    "До свидания",
    "Auf Wiedersehen",
    "Au revoir",
    "Hoşça kalın",
    "Do widzenia",
];
---

<section>
    <div class="marquee-text">
        <div class="marquee-text-track">
            {worlds.map((world) => <p>{world}</p>)}
            {worlds.map((world) => <p aria-hidden="true">{world}</p>)}
        </div>
    </div>
</section>

<style scoped>
    .marquee-text {
        overflow: clip;
    }

    .marquee-text-track {
        display: flex;
        padding-left: 10px;
        gap: 10px;
        width: max-content;
        animation: marquee-move-text 60s linear infinite forwards reverse;
    }

    .marquee-text-track p {
        font-size: 20px;
        text-transform: uppercase;
        color: theme("colors.accent");
    }

    @keyframes marquee-move-text {
        to {
            transform: translateX(-50%);
        }
    }
</style>
