---
const { title } = Astro.props;
---

<article class="bg-darkgray p-40 rounded-[.75rem] w-full h-fit my-5 inline-flex flex-col break-inside-avoid">
    <h2 class="uppercase text-accent">{title}</h2>
    <slot />
</article>
